<div class="card componentStyle">
<div>
  
 <h5 style="color: crimson;margin-left: 500px;"> Opps Something Went To Worng .....! </h5>
<div class="card componentStyle" style="margin-top: 10px;">
    <img style="width:700px;max-width:100%;text-align: center;margin: auto;height: 100%;"  [src]="imgUrl">
</div>   
    <div style="font: size 1.3em;padding-top: 10px;margin-bottom:35px;margin:auto;width:50%;">
        <button (click)="gotoHome()" type="button" style="width: 50%;background-color: blue;color: white;margin-left: 23%;">GO TO HOME PAGE</button>
    </div>

</div>
