<div style="text-align: center;">
        TODOS
</div>
<div>
    <table style="text-align: center;" class="table table-bordered">
        <tr>
            <td>USERID</td>
            <td>{{todos.userId}}</td>
        </tr>
        <tr>
            <td>ID</td>
            <td>{{todos.id}}</td>
        </tr>
        <tr>
            <td>TITLE</td>
            <td>{{todos.title}}</td>
        </tr>
        <tr>
            <td>COMPLETED</td>
            <td>{{todos.completed}}</td>
        </tr>
    </table>
</div>
