<div class="card" style="text-align: center;">
    STUDENTS DETAILS
</div>
<div>
    <table class="table table-bordered" style="text-align: center;">
        <tr>
            <td>ID:</td>
            <td>{{student.id}}</td>
        </tr>
        <tr>
            <td>NAME:</td>
            <td>{{student.name}}</td>
        </tr>
        <tr>
            <td>FNAME:</td>
            <td>{{student.fname}}</td>
        </tr>
        <tr>
            <td>DEPRTMENT:</td>
            <td>{{student.deparment}}</td>
        </tr>
        <tr>
            <td>MARKS:</td>
            <td>{{student.marks}}</td>
        </tr>
    </table>
</div>
