 <div style="text-align: center;">
   <h3>
    <hr>
    DATABASE<hr></h3> 
</div>
<div>
    <table class="table table-bordered" style="text-align: center;">
            <tr>
                <td>NAME:</td>
                <td>{{employe.name}}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{employe.email}}</td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td>{{employe.gender}}</td>
            </tr>           
            <tr>
                <td>MobileNumber</td>
                <td>{{employe.mobileNumber}}</td>
            </tr>
            <tr>
                <td>SALARY</td>
                <td>{{employe.salary}}</td>
            </tr>
            <tr>
                <td>CITY</td>
                <td>{{employe.city}}</td>
            </tr>
    </table>
</div>