 <div style="text-align: center;">
  <h4> USERS</h4> 
 </div>
 <div>
    <table class="table table-bordered" style="text-align: center;">
        <tr>
            <td>ID</td>
            <td>{{coments.id}}</td>
         </tr>  
         <tr>
            <td>NAME:</td>
            <td>{{coments.name}}</td>
        </tr>
        <tr>  
            <td>EMAIL</td>
            <td>{{coments.email}}</td>
        </tr>
        <tr>    
            <td>CITY</td>
            <td>{{coments.address.city}}</td>
        </tr>
        <tr>  
            <td>COMPANY</td>
            <td>{{coments.company}}</td> 
        </tr> 
        <tr>

            <td>LATTITUDE</td>
            <td>{{coments.address.geo.lat}}</td>           
        </tr>
    </table>
 </div>
