 <div style="text-align: center;color:lightsalmon;font-size: xx-large;">
   {{title}}
 </div>
 <hr style="width:400px;color:brown;height: 5px;margin: auto;">
 <div class="card">
 <table>
        <tr>
          <td> 
            <ul> 
              <li>
                <a  routerLinkActive="active" routerLink="/home">Heme</a>
              </li>
              <li>
                <a routerLinkActive="active" routerLink="/user">User</a>
              </li>
              <li> 
                <a routerLinkActive="active" routerLink="/coments">Coments</a>
              </li>
              <li> 
                <a routerLinkActive="active" routerLink="/student">Student</a>                
              </li>
              <li>
                <a routerLinkActive="active" routerLink="/post">Post</a>
              </li>
              <li>
                <a routerLinkActive="active" routerLink="/photos">Photos</a>
              </li>
              <li>
                <a routerLinkActive="active" routerLink="/todos">Todos</a>
              </li>               
              <li>
                <a routerLinkActive="active" routerLink="/login">Login</a>
              </li> 
              <li>
                <a routerLinkActive="active" routerLink="/registration">Registrations</a>
              </li>
              <li>
                <a routerLinkActive="active" routerLink="/login1">LoginForm</a>
              </li>              
              <li>
                <a routerLinkActive="active" routerLink="/items">Mobiles</a>
              </li> 
              <li>
                <a routerLinkActive="active" routerLink="/employe">Employe</a>
              </li>
              <li>
                <a style="float: right;" href="#">LogOut</a>
              </li>  
              <li>
                <a routerLinkActive="active" routerLink="/notFound">NotFound</a>
              </li>                        
            </ul>         
          </td>
        </tr>
 </table>
 <router-outlet></router-outlet>