<div  style="text-align: center;">
   <h4> Coments</h4>
</div>


<div>
    <table class="table table-bordered" style="text-align: center;">
        <tr>
            <td>ID</td>
            <td>{{coments.postId}}</td>
        </tr>
        <tr>
            <td>Id</td>
            <td>{{coments.id}}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{coments.name}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{coments.email}}</td>
        </tr>
    </table>
</div>